<ion-content>

  <div class="main_content_div">
    <ion-buttons slot="start" class="top_btn">
      <ion-menu-button color="light" class="menu_btn"><ion-icon name="apps"></ion-icon></ion-menu-button>

      <ion-button color="light" class="menu_btn1"><ion-icon name="settings"></ion-icon></ion-button>

    </ion-buttons>

    <div class="user_div">
      <div class="photo_div" [style.backgroundImage]="'url(assets/images/haheemang.jpg)'">
      </div>

      <div class="user_label">
        <ion-label class="welcome"> Welcome to Image Voca</ion-label>
        <ion-label class="username">Tony Ha</ion-label>
        <div class="user_btn">
          <ion-button fill="solid" size="small" class="btn1"><ion-icon name="home"></ion-icon>Dashboard</ion-button>
          <ion-button fill="solid" size="small" class="btn2"><ion-icon name="home" ></ion-icon>Level Test</ion-button>
        </div>
      </div>
    </div>

    <div class="content_div">
      <div class="voca_title">

       <h5>Exam Image Voca</h5>

      </div>

    </div>
  </div>
</ion-content>
