<ion-content>
  <div class="main_content_div">
    <ion-buttons slot="start" class="top_btn">
      <ion-button color="light" size="large" class="menu_btn" (click)="onCancel()"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
      <ion-button color="light" class="menu_btn1"><ion-icon name="settings"></ion-icon></ion-button>
    </ion-buttons>


    <div class="user_div">
    </div>

    <div class="content_div">
      <ion-label class="hello_label">Settings</ion-label>

      <ion-grid>
        <ion-row>
          <ion-col size-md="12">
            <ion-card>
              <ion-card-title>this is sample</ion-card-title>
              <ion-card-content>this is a sample world</ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="4">
      <ion-button expand="full" (click)="prev()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="full" (click)="toggleTouch()">
        <ion-icon name="lock-open-outline"></ion-icon>
      </ion-button>
    </ion-col>    <ion-col size="4">
      <ion-button expand="full" (click)="next()">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

