<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>ImageVoca Settings</ion-title>

    <img slot="end" src="../../assets/images/haheemang.jpg" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Global Settings</h4>
  <ion-list>
    <ion-item>
    <ion-label>Image Settings</ion-label>
    <ion-toggle color="danger"
                mode="ios"
                [(ngModel)]="settings.imageSetting"
                (ionChange)="changeImage($event)"
                ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Audio Background Settings</ion-label>
    <ion-toggle color="danger"
                mode="ios"
                [(ngModel)]="settings.audioBackgroundSetting"
                (ionChange)="changeAudioBackground($event)"
                ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Audio Speed Settings</ion-label>
      <ion-select mode="ios"
                  interface="action-sheet"
                  value="Normal"
                  okText="Okay"
                  cancelText="dismiss"
                  (ionChange)="changeSwiperSpeed($event)"
                  >
        <ion-select-option value="Very Slow">Very Slow</ion-select-option>
        <ion-select-option value="Slow">Slow</ion-select-option>
        <ion-select-option value="Normal">Normal</ion-select-option>
        <ion-select-option value="Fast">Fast</ion-select-option>
        <ion-select-option value="Very Fast">Very Fast</ion-select-option>
      </ion-select>
  </ion-item>
</ion-list>
  <h4>Audio Volume Settings</h4>
  <ion-list>
  <ion-item lines="none">
      <ion-range class="cust-range"
                 min="0" max="100"
                 pin="true"
                 snaps="true"
                 step="20"
                 value="60"
                 color="danger"
                 (ionChange)="changeAudioVolume($event)"
                 >
        <ion-icon slot="start" color="danger" name="volume-mute-outline"></ion-icon>
        <ion-icon slot="end" color="danger" name="volume-high-outline"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>

  <h4>Total Test Settings</h4>
  <ion-list>
    <ion-item>
      <ion-label> Total Test Data Initial</ion-label>
      <ion-toggle color="danger"
                  mode="ios"
                  [(ngModel)]="settings.totalTestInitialization"
                  (ionChange)="changeTotalTest($event)"
                  [disabled]="!settingLocation"
                  ></ion-toggle>
    </ion-item>
  </ion-list>
  <h4>Each Test Settings</h4>
  <ion-list>
    <ion-item>
      <ion-label>Toeic Voca Test Data Initial</ion-label>
      <ion-toggle color="danger"
                  mode="ios"
                  [(ngModel)]="settings.toeicTestInitialization"
                  (ionChange)="changeToeicTest($event)"
                  [disabled]="!settingLocation"
                  ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Toefl Test Data Init</ion-label>
      <ion-toggle color="danger"
                  mode="ios"
                  [(ngModel)]="settings.toeflTestInitialization"
                  (ionChange)="changeToeflTest($event)"
                  [disabled]="!settingLocation"
                  ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>KR SAT Test Data Initial</ion-label>
      <ion-toggle color="danger"
                  mode="ios"
                  [(ngModel)]="settings.krSatTestInitialization"
                  (ionChange)="changeKrSatTest($event)"
                  [disabled]="!settingLocation"
                  ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>HS Test Data Initial</ion-label>
      <ion-toggle color="danger"
                  mode="ios"
                  [(ngModel)]="settings.hsTestInitialization"
                  (ionChange)="changeHsTest($event)"
                  [disabled]="!settingLocation"
                  ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>MS Test Data Initial</ion-label>
      <ion-toggle color="danger"
                  mode="ios"
                  [(ngModel)]="settings.msTestInitialization"
                  (ionChange)="changeMsTest($event)"
                  [disabled]="!settingLocation"
                  ></ion-toggle>
    </ion-item>
  </ion-list>
  <div>
    <img src="../../assets/images/abound.png" />
  </div>
  <p>Version 2.0.3</p>
</ion-content>
