<ion-content>
  <div class="main_content_div">
    <ion-buttons slot="start" class="top_btn">
      <ion-button color="light" size="large" class="menu_btn" (click)="onCancel()"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
      <ion-button color="light" class="menu_btn1" (click)="onSetting()"><ion-icon name="settings"></ion-icon></ion-button>
    </ion-buttons>


    <div class="user_div">


    </div>

    <div class="content_div">
      <ion-label class="hello_label">{{ levelTitle }}:  Day {{ dayId }}</ion-label>


      <swiper #swiper [config]="config"
            (slideChange)="swiperSlideChanged($event)">
        <ng-template swiperSlide *ngFor="let voca of dailyVocaList; let i = index;" class="cardDiv">

            <ion-card>
            <ion-card-header>
              <ion-img role="button"
                      (click)="imageTaps(i)"
                      src="assets/imageVoca/png/{{voca.filename}}.png">
              </ion-img>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title class="ion-margin-bottom">
                    {{ voca.enWord }}{{voca.pronunciation}}
              </ion-card-title>
              <ion-card-subtitle >한글뜻: {{ voca.korDefinition }}</ion-card-subtitle>


              <ion-card-subtitle class="ion-margin-top">유의어: {{ voca.enSynonyms }}</ion-card-subtitle>

              <ion-card-subtitle>반대어: {{ voca.enAntonyms }}</ion-card-subtitle>

              <ion-card-subtitle class="ion-margin-top">{{ voca.enExample }}</ion-card-subtitle>

            </ion-card-content>
            </ion-card>
        </ng-template>
    </swiper>

    </div>
  </div>


</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="4">
      <ion-button expand="full" (click)="prev()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="full" (click)="toggleTouch()">
        <ion-icon name="lock-open-outline"></ion-icon>
      </ion-button>
    </ion-col>    <ion-col size="4">
      <ion-button expand="full" (click)="next()">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

